* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-open-sans: "Open Sans";
  --font-raleway: "Raleway";
  --grey1: #00000029;
  --grey2: #a5a5a5;
  --grey3: #f7f7f7;
  --grey4: #e8e9ed;
  --grey5: #95989a;
  --grey6: #707070;
  --blue1: #08a6e4;
  --blue2: #07ace629;
  --blue3: #07ace6;
  --green: #55dfb4;
  --pink1: #fb3b64;
  --pink2: #eb476e;
  --pink3: #ff091129;
  --pink4: #f9043629;
  --black: #13253b;
}

.container {
  width: 1352px;
  margin: 0 auto;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: var(--font-open-sans);
}

.top-container {
  background-color: white;
  box-shadow: 0 3px 6px var(--grey1);
  position: sticky;
  height: 70px;
  top: 0;
  z-index: 31415;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 32px;
  color: var(--blue1);
  line-height: 37px;
  font-weight: 300;
  margin-top: 2px;
}

.menu-list li {
  display: inline-block;
}

.menu-list li button {
  text-decoration: none;
  color: var(--grey2);
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  font-weight: bold;
  border: none;
  background: none;
  padding: 26px;
}

.menu-list li button:hover {
  color: black;
  position: relative;
  border-bottom: 4px solid var(--blue1);
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100vh - 70px);
}

.sell-more {
  font-family: var(--font-raleway);
  font-size: 49px;
  line-height: 57px;
  margin-top: 130px;
}

.text-under-sell-more {
  line-height: 22px;
  margin-top: 15px;
}

.button-on-top {
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 22px;
  background-color: var(--blue1);
  border-radius: 40px;
  font-weight: bold;
  text-align: center;
  padding: 22px 157px;
}

.background-top-section {
  position: absolute;
  bottom: 0;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto;
}

.stats-columns {
  display: flex;
  justify-content: space-around;
  margin: 120px auto 0;
  width: 60vw;
}

.stats-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.stats-column div:first-child {
  position: relative;
}

.stats-column span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 63px;
  border-radius: 40px;
  background: black;
  align-self: center;
  z-index: -1;
}

.column-1 span::before {
  background-color: var(--pink1);
  left: -28px;
}

.column-2 span::before {
  background-color: var(--blue1);
  left: -21px;
}

.column-2 div:nth-of-type(2) {
  margin-top: 3px;
}

.column-3 span::before {
  background-color: var(--green);
  left: -30px;
}

.column-2 img {
  margin-top: 13px;
}

.column-3 img {
  margin-top: 5px;
}

.stats-column > div {
  display: flex;
}

.stats-header {
  font-family: var(--font-raleway);
  font-size: 36px;
  line-height: 42px;
}

.number {
  font-family: var(--font-raleway);
  font-size: 20px;
  font-weight: 1000;
  line-height: 24px;
  letter-spacing: 6px;
  padding: 10px 0;
}

.plus {
  margin-top: 2px;
}

.stats-text {
  font-family: var(--font-raleway);
  font-size: 17px;
  line-height: 20px;
  color: var(--grey2);
  text-align: center;
}

.column-2 > .stats-text {
  padding: 10px 370px;
}

.benefits {
  background-color: var(--grey3);
  padding: 105px 0;
}

.benefits > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-benefit {
  background-color: white;
  border: 1px solid var(--grey4);
  border-radius: 5px;
  margin-bottom: 38px;
  display: flex;
  width: 1124px; /* mozliwe ze do zmiany, na bardziej dynamiczna szerokosc */
}

.rectangle::before {
  content: "";
  display: inline-block;
  width: 180px;
  height: 180px;
  background-color: var(--pink1);
  border-radius: 41px;
  transform: rotate(45deg);
  position: absolute;
  top: 75px;
  left: 200px;
  z-index: 1;
}

.circle::before {
  content: "";
  display: inline-block;
  width: 320px;
  height: 320px;
  background-color: var(--blue3);
  border-radius: 160px;
  position: absolute;
  top: 12px;
  left: 70px;
  z-index: 1;
}

.benefit__img {
  position: relative;
}

.benefit-3 {
  display: flex;
  width: 1124px; /* mozliwe ze do zmiany, na bardziej dynamiczna szerokosc */
}

.display-block {
  display: block;
}

.flex-dir-row-rev {
  flex-direction: row-reverse;
}

.flex-dir-row-rev div:first-child {
  margin-left: 192px;
}

.macbook {
  width: 386px;
  height: 219px;
  margin-top: 113px;
  margin-bottom: 38px;
  margin-right: 117px;
  position: relative;
  z-index: 2;
}

.iphone {
  width: 426px;
  height: 328px;
  margin-top: 29px;
  margin-bottom: 13px;
  margin-left: 70px;
  position: relative;
  z-index: 2;
}

.bottom-right-benefit {
  border: 1px solid var(--grey4);
  background-color: var(--green);
  padding: 98px 82px 64px 62px;
  margin-left: 61px;
  border-radius: 5px;
  margin-bottom: 38px;
}

.benefit-title {
  font-family: var(--font-raleway);
  font-size: 36px;
  line-height: 42px;
  margin-top: 69px;
  margin-bottom: 30px;
  margin-left: 35px;
}

.benefit-title-1 {
  margin-top: 90px;
}

.benefit-title-2 {
  margin-left: 0;
}

.benefit-title-3 {
  padding-right: 200px;
}

.benefit-text {
  line-height: 22px;
  margin-left: 35px;
  position: relative;
}

.benefit-title-2 + p {
  margin-left: 0;
}

.benefit-text::after {
  content: "";
  display: block;
  width: 328px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hor-line-1 {
  padding-right: 150px;
}

.hor-line-1::after {
  border: 4px solid var(--pink1);
  bottom: -70px;
}

.hor-line-2::after {
  border: 4px solid var(--blue1);
  bottom: -60px;
}

.hor-line-3::after {
  border: 4px solid var(--green);
  bottom: -60px;
}

.trumpet {
  width: 295px;
  height: 208px;
  margin: auto;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing {
  font-family: var(--font-raleway);
  font-size: 36px;
  line-height: 42px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pricing-articles {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.pricing-article {
  width: 370px;
  border-radius: 18px;
  border: 1px solid var(--pink1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-professional {
  width: 405px;
  border-color: var(--blue3);
  box-shadow: 5px 10px 27px var(--blue2);
  margin: 0 60px;
}

.article-premium {
  border-color: var(--green);
}

.pricing-article > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-professional > ul * {
  padding: 25px;
}

.pack {
  font-family: var(--font-raleway);
  font-size: 20px;
  font-weight: bold;
  margin-top: 34px;
}

.price {
  font-size: 46px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}

.price-basic {
  margin-bottom: 60px;
}

.price-professional {
  color: var(--blue3);
}

.limited-offer {
  font-family: var(--font-raleway);
  font-size: 12px;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 60px;
}

.price-basic {
  color: var(--pink1);
}

.price-premium {
  color: var(--green);
}

.price-info {
  font-size: 14px;
  padding: 20px;
}

.price-info::before {
  content: "";
  background-image: url("../images/Checkmark-1.svg");
  display: inline-block;
  width: 11px;
  height: 11px;
}

.sticky {
  width: 1px;
  height: 10000px;
}
